<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>课程信息</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <h1>课程信息</h1>
    <hr>
    <ion-item>
      <ion-label>课程名称</ion-label>
      <div item-content id="classname">{{ classname }}</div>
    </ion-item>
    <ion-item>
      <ion-label>上课地点</ion-label>
      <div item-content id="classplace">{{ classplace }}</div>
    </ion-item>
    <ion-item>
      <ion-label>上课时间</ion-label>
      <div item-content id="classtime">{{ classtime }}</div>
    </ion-item>
    <hr>
    <div>
      <h1>查看当天考勤情况</h1>
      <ion-item>
        <ion-label>查找日期</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="time"></ion-datetime>
      </ion-item>
      <button ion-button block on-click="select()">查找</button>
      <h1>考勤详细情况</h1>
      <hr>
      <ion-list>
        <ion-list-header>
          当天未签到
        </ion-list-header>
        <button ion-item *ngFor="let item of noqiandaos" (click)="itemSelected(item)">{{ item }}</button>
      </ion-list>
      <ion-list>
        <ion-list-header>
          当天已签到
        </ion-list-header>
        <button ion-item *ngFor="let item2 of qiandaos" (click)="itemSelected2(item2)">{{ item2 }}</button>
      </ion-list>
    </div>
    <hr>
</ion-content>
